<h1>Knx Modules</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @knx_modules.each do |knx_module| %>
      <tr>
        <td><%= knx_module.id %></td>
        <td><%= knx_module.name %></td>
        <% if can? :read, knx_module %>
          <td><%= link_to 'Show', knx_module %></td>
        <% end %>
        <% if can? :update, knx_module %>
          <td><%= link_to 'Edit', edit_knx_module_path(knx_module) %></td>
        <% end %>
        <% if can? :destroy, knx_module %>
          <td><%= link_to 'Destroy', knx_module, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :create, @knx_module %>
  <%= link_to 'New Knx Module', new_knx_module_path %>
<% end %>
