<h2>Edit <%= @user.username.to_s.humanize %></h2>

<%= form_for(@user, html: { method: :put }) do |f| %>
  <% if @user.errors.any? %>
    <div class="row margin">
      <div class="col">
        <div class="card alert alert-danger">
          <div id="error_explanation" class="top10">
            <ul>
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username%>
  </div>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <div><b>Rooms</b></div>
    <%= f.collection_check_boxes :room_ids, Room.all, :id, :name do |m| %>
      <div class=""><%= m.check_box %></div>
      <div><%= m.label %></div>
    <% end %>
  </div>

  <div class="field">
    <div><b>Role</b></div>
    <!--<%= f.collection_select :role_ids, Role.all, :id, :name %><br/>-->
    <%= f.collection_check_boxes :role_ids, Role.all, :id, :name do |m| %>
      <%= m.check_box %><%= m.label %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<%= link_to "Back", :back %>
