<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Email</th>
    <th>Role(s)</th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.email %></td>
      <td>
        <% for role in user.roles %>
          <%= role.name %>
          <% if (role.id != user.roles.last.id) %>
            +
          <% end %>
        <% end %>
      </td>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <td><%= link_to 'Destroy', {controller: :users, action: :index }, method: :delete, data: { confirm: "Are you sure?" } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br/>

<% if current_user.has_role? :admin %>
  <%= link_to 'New User', new_user_path %>
<% end %>