<%= link_to 'Administrates' , administrates_path %>
|
<%= link_to 'Rooms' , rooms_path %>
|
<%= link_to 'Widgets' , widgets_path %>
|
<%= link_to 'Rules' , rules_path %>
|
<%= link_to 'KNXModules' , knx_modules_path %>
<br/>
<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Email</th>
    <th>Role(s)</th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.email %></td>
      <td>
        <% for role in user.roles %>
          <%= role.name %>
          <% if (role.id != user.roles.last.id) %>
            +
          <% end %>
        <% end %>
      </td>
      <td><%= link_to 'Edit profile', edit_user_registration_path %></td>
      <td><%= link_to 'Destroy', {controller: :users, action: :index }, method: :delete, data: { confirm: "Are you sure?" } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br/>

<% if current_user.has_role? :admin %>
  <%= link_to "New user", new_user_registration_path, :class => 'navbar-link'  %>
<% end %>