<%= link_to 'Users', {controller: :users, action: :index } %>
|
<%= link_to 'Administrates' , administrates_path %>
|
<%= link_to 'Rooms' , rooms_path %>
|
<%= link_to 'Widgets' , widgets_path %>
|
<%= link_to 'Rules' , rules_path %>
|
<%= link_to 'KNXModules' , knx_modules_path %>
<br/>
<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Email</th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.email %></td>
    </tr>
  <% end %>
  </tbody>
</table>