<div class="row">
  <div class="col">
    <h1>Users</h1>
  </div>
  <% if current_user.has_role? :admin %>
    <div class="col">
      <%= link_to 'New User', new_user_path, class: "btn btn-success right top10" %>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col">
    <hr>
  </div>
</div>

<div class="row">
  <div class="col">
    Sort by:
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <%= link_to sort_by_ids_users_path, remote: true do %>
        <label class="btn btn-outline-secondary btn-right-radius">
          <input type="radio" name="options" autocomplete="off"> ID
        </label>
      <% end %>
      <%= link_to sort_by_usernames_users_path, remote: true do %>
        <label class="btn btn-outline-secondary btn-left-radius btn-right-radius active">
          <input type="radio" name="options" autocomplete="off" checked> Username
        </label>
      <% end %>
      <%= link_to sort_by_roles_users_path, remote: true do %>
        <label class="btn btn-outline-secondary btn-left-radius">
          <input type="radio" name="options" autocomplete="off"> Role
        </label>
      <% end %>
    </div>
  </div>

  <div class="col">
    <%= form_tag users_path, class: "form-inline my-2 my-lg-0 right", method: :get, remote: true do %>
      <%= text_field_tag :term, params[:term], class: "form-control mr-sm-2" %>
      <%= submit_tag 'Suchen', name: nil, class: "btn btn-outline-success my-2 my-sm-0" %>
    <% end %>
  </div>
</div>

<table class="table table-bordered table-hover table-striped" id="table_users">
  <thead>
  <tr class="table-info">
    <th>ID</th>
    <th>Username</th>
    <th>Role(s)</th>
  </tr>
  </thead>

  <tbody>
    <%= render partial: 'sort_by_usernames', locals: {users: @users} %>
  </tbody>
</table>