<div class="card mb-2">
  <div class="card-header">
    <div class="row">
      <div class="col-sm">
        <h1 class="float-left"><%= t 'views.user' %></h1>
        <% if current_user.has_role? :admin %>
          <div class="float-right">
            <%= link_to t('views.new_user'), new_user_path, class: "btn btn-success mt-2" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div>
    <nav class="navbar navbar-light bg-light justify-content-between text-center">
      <div class="col-md-2">
        <div class="text-lg-left">
          <%= t 'views.sortby' %>:
        </div>
      </div>
      <div class="col-md-4">
        <div class="navbar-brand">
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <%= link_to sort_by_ids_users_path, class: "btn btn-outline-secondary mb-0", remote: true do %>
              <input type="radio" name="options" autocomplete="off"> ID
            <% end %>
            <%= link_to sort_by_usernames_users_path, class: "btn btn-outline-secondary mb-0 active", remote: true do %>
              <input type="radio" name="options" autocomplete="off" checked><%= t 'views.username' %>
            <% end %>
            <%= link_to sort_by_roles_users_path, class: "btn btn-outline-secondary mb-0", remote: true do %>
              <input type="radio" name="options" autocomplete="off"><%= t 'views.role' %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="float-md-right">
          <%= form_tag users_path, class: "form-inline my-2 my-lg-0", method: :get, remote: true do %>
            <%= text_field_tag :term, params[:term], class: "form-control", style: "width: 70%;", value: "#{$users_search_params[current_user.username]}" %>
            <%= submit_tag t('views.search'), name: nil, class: "btn btn-outline-success my-2 my-sm-0", style: "width: 28%;margin-left: 2%;" %>
          <% end %>
        </div>
      </div>
    </nav>
  </div>
</div>

<table class="table table-bordered table-hover table-striped mb-2" id="table_users">
  <thead>
  <tr class="table-info">
    <th>ID</th>
    <th><%= t 'views.username' %></th>
    <th><%= t 'views.role' %></th>
  </tr>
  </thead>

  <tbody>
    <%= render partial: 'sort_by_usernames', locals: {users: @users} %>
  </tbody>
</table>