<%= form_with(model: widget, local: true) do |form| %>
  <% if widget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(widget.errors.count, "error") %> prohibited this widget from being saved:</h2>

      <ul>
      <% widget.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active %>
  </div>

  <div class="field">
    <%= form.label :knx_module_id %>
    <%= select("widget", "knx_module_id", KnxModule.all.collect {|p| [ p.name, p.id ] }) %>
  </div>

  <div class="field">
    <%= form.label :room_id %>
    <%= select("widget", "room_id", Room.all.collect {|p| [ p.name, p.id ] }) %>
  </div>
  <br/>
  <h3 class="card-header">Rules</h3>
  <%= form.fields_for :rules do |fields| %>
    <div class="field">
      <%= fields.label :name %>
      <%= fields.text_field :name %>
    </div>

    <div class="field">
      <%= fields.label :status %>
      <%= fields.check_box :status %>
    </div>

    <div class="field">
      <%= fields.label :start_value %>
      <%= fields.number_field :start_value %>
    </div>

    <div class="field">
      <%= fields.label :end_value %>
      <%= fields.number_field :end_value %>
    </div>

    <div class="field">
      <%= fields.label :steps %>
      <%= fields.text_field :steps %>
    </div>

    <div class="field">
      <%= fields.label :widget_id %>
      <%= fields.number_field :widget_id %>
    </div>
    <br>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>

  <div id="data">
    <%= widget.rules.count %>
  </div>
<% end %>
