<div class="field">
  <label for="rule_name">Name</label>
  <input type="text" name="widget[rules_attributes][<%= number %>][name]" id="rule_name">
</div>

<div class="field">
  <label for="rule_status">Status</label>
  <input name="rule[status]" type="hidden" value="0"><input type="checkbox" value="1" name="widget[rules_attributes][<%= number %>][status]" id="rule_status">
</div>

<div class="field">
  <label for="rule_start_value">Start value</label>
  <input type="number" name="widget[rules_attributes][<%= number %>][start_value]" id="rule_start_value">
</div>

<div class="field">
  <label for="rule_end_value">End value</label>
  <input type="number" name="widget[rules_attributes][<%= number %>][end_value]" id="rule_end_value">
</div>

<div class="field">
  <label for="rule_steps">Steps</label>
  <input type="text" name="widget[rules_attributes][<%= number %>][steps]" id="rule_steps">
</div>

<div class="field">
  <label for="rule_widget_id">Widget</label>
  <input type="number" name="widget[rules_attributes][<%= number %>][widget_id]" id="rule_widget_id">
</div>