<div class="card-header">
  <ul class="nav nav-tabs card-header-tabs" id="nav-tab">
    <% if widgets.any?{|widget| widget.use == 'lighting'} %>
      <li class="nav-item">
        <a class="nav-link active" id="nav-lightings-tab" data-toggle="tab" href="#nav-lightings"
           role="tab" aria-controls="nav-home" aria-selected="true"><%= t 'views.widget.lightings' %></a>
      </li>
    <% end %>
    <% if widgets.any?{|widget| widget.use == 'shutter'} %>
      <li class="nav-item">
        <a class="nav-link" id="nav-shutters-tab" data-toggle="tab" href="#nav-shutters"
           role="tab" aria-controls="nav-profile" aria-selected="false"><%= t 'views.widget.shutters' %></a>
      </li>
    <% end %>
    <% if widgets.any?{|widget| widget.use == 'blind'} %>
      <li class="nav-item">
        <a class="nav-link" id="nav-blinds-tab" data-toggle="tab" href="#nav-blinds"
           role="tab" aria-controls="nav-contact" aria-selected="false"><%= t 'views.widget.blinds' %></a>
      </li>
    <% end %>
    <% if widgets.any?{|widget| widget.use == 'dimmer'} %>
      <li class="nav-item">
        <a class="nav-link" id="nav-dimmer-tab" data-toggle="tab" href="#nav-dimmer"
           role="tab" aria-controls="nav-contact" aria-selected="false"><%= t 'views.widget.dimmer' %></a>
      </li>
    <% end %>
    <% if widgets.any?{|widget| widget.use == 'mc'} %>
      <li class="nav-item">
        <a class="nav-link" id="nav-mc-tab" data-toggle="tab" href="#nav-mc"
           role="tab" aria-controls="nav-contact" aria-selected="false"><%= t 'views.widget.mc' %></a>
      </li>
    <% end %>
    <% if widgets.any?{|widget| widget.use == 'window'} %>
      <li class="nav-item">
        <a class="nav-link" id="nav-windows-tab" data-toggle="tab" href="#nav-windows"
           role="tab" aria-controls="nav-contact" aria-selected="false"><%= t 'views.widget.windows' %></a>
      </li>
    <% end %>
    <% if widgets.any?{|widget| widget.use == 'weather'} %>
      <li class="nav-item">
        <a class="nav-link" id="nav-weather-tab" data-toggle="tab" href="#nav-weather"
           role="tab" aria-controls="nav-contact" aria-selected="false"><%= t 'views.widget.weather' %></a>
      </li>
    <% end %>
  </ul>
</div>
<div class="card-body">
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-lightings" role="tabpanel" aria-labelledby="nav-lightings-tab">
      <div class="row" style="padding-left: 5px;padding-right: 15px;">
        <% @lightings.each do |lighting| %>
          <div class="widget card bg-light col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <div class="card-body">
              <div class="float-left">
                <h5 style="margin-top: 6px;"><%= lighting.desc %></h5>
              </div>
              <div class="float-right">
                <%= check_box(:lighting, :status, data: {toggle: 'toggle', on: t('views.on'), off: t('views.off'), width: "63", height: "39", onstyle: 'success'}, checked: (lighting.on? ? true : false), class: 'submit_lightings') %>
              </div>
            </div>
          </div>
        <% end %>
        <% @widgets.each do |widget| %>
          <% if widget.use == "lighting" %>
            <div class="widget card bg-light col-lg-3 col-md-4 col-sm-6 col-xs-6">
              <div class="card-body">
                <div class="float-left">
                  <h5 style="margin-top: 6px;"><%= widget.name %></h5>
                </div>
                <div class="float-right">
                  <%= form_for widget, remote: true do |f| %>
                    <%= f.hidden_field :authenticity_token, value: form_authenticity_token,
                                       name: "authenticity_token" %>
                    <%= f.hidden_field :user, value: current_user.username, name: "user[username]" %>
                    <%= f.check_box :value, data: { toggle: 'toggle', on: t('views.on'), off: t('views.off'), width: "63", height: "39"},
                                    id: "widget_active_#{widget.id}", class: "edit_widget" %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-shutters" role="tabpanel" aria-labelledby="nav-shutters-tab">
      <div class="row" style="padding-left: 5px;padding-right: 15px;">
        <% @widgets.each do |widget| %>
          <% if widget.use == "shutter" %>
            <div class="widget card bg-light col-lg-3 col-md-4 col-sm-6 col-xs-6">
              <div class="card-body">
                <div>
                  <h5 style="margin-top: 6px;"><%= widget.name %></h5>
                </div>
                <div>
                  <div class="float-left">
                    <div class="btn-group" role="group" style="height: 35px;">
                      <button type="button" class="btn btn-grey">
                        <span class="glyphicon glyphicon-step-backward" aria-hidden="true" id="<%= widget.id %>"></span>
                      </button>
                      <button type="button" class="btn btn-grey">
                        <span class="glyphicon glyphicon-backward" aria-hidden="true" id="<%= widget.id %>"></span>
                      </button>
                    </div>
                  </div>
                  <div class="float-right">
                    <div class="btn-group" role="group" style="height: 35px;">
                      <button type="button" class="btn btn-grey">
                        <span class="glyphicon glyphicon-forward" aria-hidden="true" id="<%= widget.id %>"></span>
                      </button>
                      <button type="button" class="btn btn-grey">
                        <span class="glyphicon glyphicon-step-forward" aria-hidden="true" id="<%= widget.id %>"></span>
                      </button>
                    </div>
                  </div>
                </div>
                <br><br>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="<%= widget.value %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= widget.value.to_i %>%" id="progressbar-<%= widget.id %>"></div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-blinds" role="tabpanel" aria-labelledby="nav-blinds-tab">
      <div class="row" style="padding-left: 5px;padding-right: 15px;">
        <% @widgets.each do |widget| %>
          <% if widget.use == "blind" %>
            <div class="widget card bg-light col-lg-3 col-md-4 col-sm-6 col-xs-6">
              <div class="card-body">
                <div>
                  <h5 style="margin-top: 6px;"><%= widget.name %></h5>
                </div>
                <div>
                  <div class="float-left">
                    <div class="btn-group" role="group" style="height: 35px;">
                      <button type="button" class="btn btn-grey">
                        <span class="glyphicon glyphicon-step-backward" aria-hidden="true" id="<%= widget.id %>"></span>
                      </button>
                      <button type="button" class="btn btn-grey">
                        <span class="glyphicon glyphicon-backward" aria-hidden="true" id="<%= widget.id %>"></span>
                      </button>
                    </div>
                  </div>
                  <div class="float-right">
                    <div class="btn-group" role="group" style="height: 35px;">
                      <button type="button" class="btn btn-grey">
                        <span class="glyphicon glyphicon-forward" aria-hidden="true" id="<%= widget.id %>"></span>
                      </button>
                      <button type="button" class="btn btn-grey">
                        <span class="glyphicon glyphicon-step-forward" aria-hidden="true" id="<%= widget.id %>"></span>
                      </button>
                    </div>
                  </div>
                </div>
                <br><br>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="<%= widget.value %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= widget.value.to_i %>%" id="progressbar-<%= widget.id %>"></div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-dimmer" role="tabpanel" aria-labelledby="nav-dimmer-tab">
      <div class="row" style="padding-left: 5px;padding-right: 15px;">
        <% widgets.each do |widget| %>
          <% if widget.use == "dimmer" %>
            <div class="widget card bg-light col-lg-3 col-md-4 col-sm-6 col-xs-6">
              <div class="card-body">
                <div>
                  <h5 style="margin-top: 6px;"><%= widget.name %></h5>
                </div>
                <div class="">
                  <%= form_for widget, remote: true do |f| %>
                    <%= f.hidden_field :authenticity_token, value: form_authenticity_token,
                                       name: "authenticity_token" %>
                    <%= f.hidden_field :user, value: current_user.username, name: "user[username]" %>
                    <div class="slider-wrapper-horizontal">
                      <%= f.range_field :value, id: "widget_active_#{widget.id}", class: "", type: "range", min: 0, max: 100, step: 1, value: widget.value %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-mc" role="tabpanel" aria-labelledby="nav-mc-tab">
      <div class="row" style="padding-left: 5px;padding-right: 15px;">
        <% widgets.each do |widget| %>
          <% if widget.use == "mc" %>
            <div class="widget card bg-light col-lg-3 col-md-4 col-sm-6 col-xs-6">
              <div class="card-body">
                <div>
                  <h5 style="margin-top: 6px;"><%= widget.name %></h5>
                </div>
                <div class="">
                  <%= form_for widget, remote: true do |f| %>
                    <%= f.hidden_field :authenticity_token, value: form_authenticity_token,
                                       name: "authenticity_token" %>
                    <%= f.hidden_field :user, value: current_user.username, name: "user[username]" %>
                    <%= widget.value %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-mc" role="tabpanel" aria-labelledby="nav-mc-tab">Monitoring-Control</div>
    <div class="tab-pane fade" id="nav-windows" role="tabpanel" aria-labelledby="nav-windows-tab">
      <div class="row" style="padding-left: 5px;padding-right: 15px;">
        <% widgets.each do |widget| %>
          <% if widget.use == "window" %>
            <div class="widget card bg-light col-lg-3 col-md-4 col-sm-6 col-xs-6">
              <div class="card-body">
                <div class="float-left">
                  <h5 style="margin-top: 6px;"><%= widget.name %></h5>
                </div>
                <div class="float-right">
                  <% if widget.value == 0 %>
                    <div style="background-color: red;padding: 5px;border-radius: 8px;color: white;">Open</div>
                  <% else %>
                    <div style="background-color: green;padding: 5px;border-radius: 8px;color: white;">Close</div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-weather" role="tabpanel" aria-labelledby="nav-weather-tab">
      <div class="row" style="padding-left: 5px;padding-right: 15px;">
        <% widgets.each do |widget| %>
          <% if widget.use == "weather" %>
            <div class="widget card bg-light col-lg-3 col-md-4 col-sm-6 col-xs-6">
              <div class="card-body">
                <div>
                  <h5 style="margin-top: 6px;"><%= widget.name %></h5>
                </div>
                <div class="">
                  <%= widget.value %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>