<% if widgets.select{|key, hash| hash == [] }.count < 4 %>
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs" id="nav-tab">
      <% if widgets[:buttons].any? %>
        <li class="nav-item">
          <a class="nav-link active" id="nav-lightings-tab" data-toggle="tab" href="#nav-lightings"
             role="tab" aria-controls="nav-home" aria-selected="true"><%= t 'views.widget.lightings' %></a>
        </li>
      <% end %>
      <% if widgets[:progress_bars].any? %>
        <li class="nav-item">
          <a class="nav-link" id="nav-blinds-tab" data-toggle="tab" href="#nav-blinds"
             role="tab" aria-controls="nav-contact" aria-selected="false"><%= t 'views.widget.blinds' %></a>
        </li>
      <% end %>
      <% if widgets[:sliders].any? %>
        <li class="nav-item">
          <a class="nav-link" id="nav-dimmer-tab" data-toggle="tab" href="#nav-dimmer"
             role="tab" aria-controls="nav-contact" aria-selected="false"><%= t 'views.widget.dimmer' %></a>
        </li>
      <% end %>
      <% if widgets[:text_fields].any?{|text_field| text_field.use == 'Monitoring_Control'} %>
        <li class="nav-item">
          <a class="nav-link" id="nav-mc-tab" data-toggle="tab" href="#nav-mc"
             role="tab" aria-controls="nav-contact" aria-selected="false"><%= t 'views.widget.mc' %></a>
        </li>
      <% end %>
      <% if widgets[:text_fields].any?{|text_field| text_field.use == 'Monitoring_Control'} %>
        <li class="nav-item">
          <a class="nav-link" id="nav-windows-tab" data-toggle="tab" href="#nav-windows"
             role="tab" aria-controls="nav-contact" aria-selected="false"><%= t 'views.widget.windows' %></a>
        </li>
      <% end %>
      <% if widgets[:text_fields].any?{|text_field| text_field.use == 'Weather'} %>
        <li class="nav-item">
          <a class="nav-link" id="nav-weather-tab" data-toggle="tab" href="#nav-weather"
             role="tab" aria-controls="nav-contact" aria-selected="false"><%= t 'views.widget.weather' %></a>
        </li>
      <% end %>
    </ul>
    <ul class="nav nav-pills nav-stacked well" id="nav-tab-responsive">
      <% if widgets[:buttons].any? %>
        <li>
          <a class="nav-link active" id="nav-lightings-tab" data-toggle="tab" href="#nav-lightings"
             role="tab" aria-controls="nav-home" aria-selected="true"><%= t 'views.widget.lightings' %></a>
        </li>
      <% end %>
      <% if widgets[:progress_bars].any? %>
        <li>
          <a class="nav-link" id="nav-blinds-tab" data-toggle="tab" href="#nav-blinds"
             role="tab" aria-controls="nav-contact" aria-selected="false"><%= t 'views.widget.blinds' %></a>
        </li>
      <% end %>
      <% if widgets[:sliders].any? %>
        <li>
          <a class="nav-link" id="nav-dimmer-tab" data-toggle="tab" href="#nav-dimmer"
             role="tab" aria-controls="nav-contact" aria-selected="false"><%= t 'views.widget.dimmer' %></a>
        </li>
      <% end %>
      <% if widgets[:text_fields].any?{|text_field| text_field.use == 'Monitoring_Control'} %>
        <li>
          <a class="nav-link" id="nav-mc-tab" data-toggle="tab" href="#nav-mc"
             role="tab" aria-controls="nav-contact" aria-selected="false"><%= t 'views.widget.mc' %></a>
        </li>
      <% end %>
      <% if widgets[:text_fields].any?{|text_field| text_field.use == 'Monitoring_Control'} %>
        <li>
          <a class="nav-link" id="nav-windows-tab" data-toggle="tab" href="#nav-windows"
             role="tab" aria-controls="nav-contact" aria-selected="false"><%= t 'views.widget.windows' %></a>
        </li>
      <% end %>
      <% if widgets[:text_fields].any?{|text_field| text_field.use == 'Weather'} %>
        <li>
          <a class="nav-link" id="nav-weather-tab" data-toggle="tab" href="#nav-weather"
             role="tab" aria-controls="nav-contact" aria-selected="false"><%= t 'views.widget.weather' %></a>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="card-body">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-lightings" role="tabpanel" aria-labelledby="nav-lightings-tab">
        <div class="d-flex align-content-start flex-wrap">
          <% widgets[:buttons].each do |button| %>
            <% if button.use == "Lighting" %>
              <div class="widget card bg-light col-lg-3 col-md-4 col-sm-6 col-xs-6">
                <div class="card-body">
                  <div class="float-left">
                    <h5 class="mt-2"><%= button.desc %></h5>
                  </div>
                  <div class="float-right">
                    <%= form_for :widget, url: "/de/widgets/#{button.id}", remote: true, html: { id: "edit_widget_#{button.id}", class: "edit_widget" }, method: :patch do |f| %>
                      <%= f.hidden_field :authenticity_token, value: form_authenticity_token,
                                         name: "authenticity_token" %>
                      <%= f.hidden_field :user, value: current_user.username, name: "user[username]" %>
                      <%= f.check_box :status, data: { toggle: 'toggle', on: t('views.on'), off: t('views.off'), width: "63", height: "39"},
                                      id: "widget_active_#{button.id}", class: "edit_widget", checked: if button.status == 1 then "checked" end,
                                      disabled: (current_user.has_role? :observer) %>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-blinds" role="tabpanel" aria-labelledby="nav-blinds-tab">
        <div class="d-flex align-content-start flex-wrap">
          <% widgets[:progress_bars].each do |progress_bar| %>
            <div class="widget card bg-light col-lg-3 col-md-4 col-sm-6 col-xs-6">
              <div class="card-body">
                <h5 class="mt-2"><%= progress_bar.desc %></h5>
                <%= form_for :widget, url: "/de/widgets/#{progress_bar.id}", remote: true, html: { id: "edit_widget_#{progress_bar.id}", class: "edit_widget" }, method: :patch do |f| %>
                  <%= f.hidden_field :authenticity_token, value: form_authenticity_token,
                                     name: "authenticity_token" %>
                  <%= f.hidden_field :user, value: current_user.username, name: "user[username]" %>
                  <div>
                    <div class="float-left">
                      <div class="btn-group h-35" role="group">
                        <%= f.button class: "btn btn-grey", type: "submit", name: "progress_bar",
                                     disabled: (current_user.has_role? :observer), value: "backward" do %>
                          <span class="glyphicon glyphicon-backward" aria-hidden="true" id="<%= progress_bar.id %>"></span>
                        <% end %>
                        <%= f.button class: "btn btn-grey", type: "submit", name: "progress_bar",
                                     disabled: (current_user.has_role? :observer), value: "step_backward" do %>
                          <span class="glyphicon glyphicon-step-backward" aria-hidden="true" id="<%= progress_bar.id %>"></span>
                        <% end %>
                      </div>
                    </div>
                    <div class="float-right">
                      <div class="btn-group h-35" role="group">
                        <%= f.button class: "btn btn-grey", type: "submit", name: "progress_bar",
                                     disabled: (current_user.has_role? :observer), value: "step_forward" do %>
                          <span class="glyphicon glyphicon-step-forward" aria-hidden="true" id="<%= progress_bar.id %>"></span>
                        <% end %>
                        <%= f.button class: "btn btn-grey", type: "submit", name: "progress_bar",
                                     disabled: (current_user.has_role? :observer), value: "forward" do %>
                          <span class="glyphicon glyphicon-forward" aria-hidden="true" id="<%= progress_bar.id %>"></span>
                        <% end %>
                      </div>
                    </div>
                  </div>
                <% end %>
                <br><br>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="<%= progress_bar.status[:position] %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= progress_bar.status[:position] %>%" id="progressbar-<%= progress_bar.id %>"></div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-dimmer" role="tabpanel" aria-labelledby="nav-dimmer-tab">
        <div class="d-flex align-content-start flex-wrap">
          <% widgets[:sliders].each do |slider| %>
            <div class="widget card bg-light col-lg-3 col-md-4 col-sm-6 col-xs-6">
              <div class="card-body">
                <div>
                  <h5 class="mt-2"><%= slider.desc %></h5>
                </div>
                <div class="">
                  <%= form_for :widget, url: "/de/widgets/#{slider.id}", remote: true,
                               html: { id: "edit_widget_#{slider.id}",
                                       class: "edit_widget" }, method: :patch do |f| %>
                    <%= f.hidden_field :authenticity_token, value: form_authenticity_token,
                                       name: "authenticity_token" %>
                    <%= f.hidden_field :user, value: current_user.username, name: "user[username]" %>
                    <div class="slider-wrapper-horizontal">
                      <%= f.range_field :status, id: "widget_active_#{slider.id}",
                                        class: "custom-range", type: "range",
                                        disabled: (current_user.has_role? :observer),
                                        min: 0, max: 100, step: 1, value: slider.status %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-mc" role="tabpanel" aria-labelledby="nav-mc-tab">
        <div class="d-flex align-content-start flex-wrap">
          <% widgets[:text_fields].each do |text_field| %>
            <% if text_field.use == "Monitoring_Control" and text_field.dpt != '1.009' and text_field.dpt != '1.017'%>
              <div class="widget card bg-light col-lg-3 col-md-4 col-sm-6 col-xs-6">
                <div class="card-body">
                  <h5 class="mt-2"><%= text_field.desc %></h5>
                  <div class="">
                    <%= text_field.status %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-windows" role="tabpanel" aria-labelledby="nav-windows-tab">
        <div class="d-flex align-content-start flex-wrap">
          <% widgets[:text_fields].each do |text_field| %>
            <% if text_field.use == "Monitoring_Control" and text_field.dpt == '1.009' %>
              <div class="widget card bg-light col-lg-3 col-md-4 col-sm-6 col-xs-6">
                <div class="card-body">
                  <div class="row">
                    <div class="col-6">
                      <div class="float-left">
                        <h5 class="mt-2"><%= text_field.desc %></h5>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="float-right" id="widget_active_<%= text_field.id %>">
                        <% if text_field.status == 0 %>
                          <div class="red-note"><%= t 'views.widget.window.open' %></div>
                          <div class="green-note d-none"><%= t 'views.widget.window.closed' %></div>
                        <% else %>
                          <div class="red-note d-none"><%= t 'views.widget.window.open' %></div>
                          <div class="green-note"><%= t 'views.widget.window.closed' %></div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-weather" role="tabpanel" aria-labelledby="nav-weather-tab">
        <div class="d-flex align-content-start flex-wrap">
          <% widgets[:text_fields].each do |text_field| %>
            <% if text_field.use == 'Weather' and
                %w[ T_min T_max v_max ].exclude?(text_field.desc) and
                %w[ 9.001 9.004 9.005 9.029 ].include?(text_field.dpt) %>
              <div class="widget card bg-light col-lg-3 col-md-4 col-sm-6 col-xs-6">
                <div class="card-body">
                  <div class="row">
                    <div class="col-8">
                      <h5 class="mt-2"><%= text_field.desc %></h5>
                    </div>
                    <div class="col-4 text-right">
                      <h5 class="mt-2">
                        <%= text_field.status %>
                        <% case text_field.dpt %>
                        <% when "9.001" %>
                          째C
                        <% when "9.005" %>
                          m/s
                        <% when "9.004" %>
                          lx
                        <% when "9.029" %>
                          째
                        <% else %>
                        <% end %>
                      </h5>
                    </div>
                  </div>
                  <% case text_field.dpt %>
                  <% when "9.001" %>
                    <div class="row">
                      <div class="col">
                        Min: <%= widgets[:text_fields].select { |widget| widget.desc == "T_min" }.first.try(:status) %> 째C
                        <br>
                        Max: <%= widgets[:text_fields].select { |widget| widget.desc == "T_max" }.first.try(:status) %> 째C
                      </div>
                      <div class="col text-right">
                        <button type="button" class="btn btn-danger btn-sm mt-2"><%= t 'views.reset' %></button>
                      </div>
                    </div>
                    <canvas id="canvas-temperature"></canvas>
                  <% when "9.005" %>
                    <div class="row">
                      <div class="col">
                        Max: <%= widgets[:text_fields].select{|widget| widget.desc == "v_max"}.first.try(:status) %> m/s
                        <% if widgets[:text_fields].select{|widget| widget.desc == "Sturm! (v > 20m/s)"}.first.try(:status) == 1 %>
                          <div style="width:62px;height:32px;" class="red-note mt-1">Sturm!</div>
                        <% else %>
                          <div style="width:93px;height:32px;" class="green-note mt-1">Kein Sturm</div>
                        <% end %>
                      </div>
                      <div class="col text-right">
                        <button type="button" class="btn btn-danger btn-sm"><%= t 'views.reset' %></button>
                      </div>
                    </div>
                    <canvas id="canvas-wind-speed"></canvas>
                  <% when "9.004" %>
                    <div class="row">
                      <div class="col">
                        <canvas id="canvas-brightness"></canvas>
                      </div>
                    </div>
                  <% when "9.029" %>
                    <% if text_field.desc == "Azimut Sonne" %>
                      <div class="row">
                        <div class="col">
                          <canvas id="canvas-azimut"></canvas>
                        </div>
                      </div>
                    <% else %>
                      <div class="row">
                        <div class="col">
                          <canvas id="canvas-elevation"></canvas>
                        </div>
                      </div>
                    <% end %>
                  <% else %>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="card-header">
    <div class="text-center">
      <h5>
        <%= t 'errors.messages.search' %>
      </h5>
    </div>
  </div>
<% end %>