<div class="card-header">
  <ul class="nav nav-tabs card-header-tabs" id="nav-tab">
    <% if widgets[:buttons].any? %>
      <li class="nav-item">
        <a class="nav-link active" id="nav-lightings-tab" data-toggle="tab" href="#nav-lightings"
           role="tab" aria-controls="nav-home" aria-selected="true"><%= t 'views.widget.lightings' %></a>
      </li>
    <% end %>
    <% if widgets[:progress_bars].any? %>
      <li class="nav-item">
        <a class="nav-link" id="nav-blinds-tab" data-toggle="tab" href="#nav-blinds"
           role="tab" aria-controls="nav-contact" aria-selected="false"><%= t 'views.widget.blinds' %></a>
      </li>
    <% end %>
    <% if widgets[:sliders].any? %>
      <li class="nav-item">
        <a class="nav-link" id="nav-dimmer-tab" data-toggle="tab" href="#nav-dimmer"
           role="tab" aria-controls="nav-contact" aria-selected="false"><%= t 'views.widget.dimmer' %></a>
      </li>
    <% end %>
    <%# if widgets.where(use: 'mc').exists? %>
      <li class="nav-item">
        <a class="nav-link" id="nav-mc-tab" data-toggle="tab" href="#nav-mc"
           role="tab" aria-controls="nav-contact" aria-selected="false"><%= t 'views.widget.mc' %></a>
      </li>
    <%# end %>
    <%# if widgets.where(use: 'window').exists? %>
      <li class="nav-item">
        <a class="nav-link" id="nav-windows-tab" data-toggle="tab" href="#nav-windows"
           role="tab" aria-controls="nav-contact" aria-selected="false"><%= t 'views.widget.windows' %></a>
      </li>
    <%# end %>
    <%# if widgets.where(use: 'weather').exists? %>
      <li class="nav-item">
        <a class="nav-link" id="nav-weather-tab" data-toggle="tab" href="#nav-weather"
           role="tab" aria-controls="nav-contact" aria-selected="false"><%= t 'views.widget.weather' %></a>
      </li>
    <%# end %>
  </ul>
  <ul class="nav nav-pills nav-stacked well" id="nav-tab-responsive">
    <% if widgets[:buttons].any? %>
      <li>
        <a class="nav-link active" id="nav-lightings-tab" data-toggle="tab" href="#nav-lightings"
           role="tab" aria-controls="nav-home" aria-selected="true"><%= t 'views.widget.lightings' %></a>
      </li>
    <% end %>
    <% if widgets[:progress_bars].any? %>
      <li class="nav-item">
        <a class="nav-link" id="nav-blinds-tab" data-toggle="tab" href="#nav-blinds"
           role="tab" aria-controls="nav-contact" aria-selected="false"><%= t 'views.widget.blinds' %></a>
      </li>
    <% end %>
    <%# if widgets.where(use: 'dimmer').exists? %>
      <li>
        <a class="nav-link" id="nav-dimmer-tab" data-toggle="tab" href="#nav-dimmer"
           role="tab" aria-controls="nav-contact" aria-selected="false"><%= t 'views.widget.dimmer' %></a>
      </li>
    <%# end %>
    <%# if widgets.where(use: 'mc').exists? %>
      <li>
        <a class="nav-link" id="nav-mc-tab" data-toggle="tab" href="#nav-mc"
           role="tab" aria-controls="nav-contact" aria-selected="false"><%= t 'views.widget.mc' %></a>
      </li>
    <%# end %>
    <%# if widgets.where(use: 'window').exists? %>
      <li>
        <a class="nav-link" id="nav-windows-tab" data-toggle="tab" href="#nav-windows"
           role="tab" aria-controls="nav-contact" aria-selected="false"><%= t 'views.widget.windows' %></a>
      </li>
    <%# end %>
    <%# if widgets.where(use: 'weather').exists? %>
      <li>
        <a class="nav-link" id="nav-weather-tab" data-toggle="tab" href="#nav-weather"
           role="tab" aria-controls="nav-contact" aria-selected="false"><%= t 'views.widget.weather' %></a>
      </li>
    <%# end %>
  </ul>
</div>
<div class="card-body">
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-lightings" role="tabpanel" aria-labelledby="nav-lightings-tab">
      <div id="accordion-lightings" class="accordion">
        <% $locations.each do |key, location| %>
          <% if widgets[:buttons].any?{|button| button.location == key} %>
            <div>
              <div class="mb-2" id="heading<%= key %>_lighting">
                <div class="row">
                  <div class="col">
                    <h5 class="mb-0">
                      <button class="btn btn-link pl-0" data-toggle="collapse" data-target="#collapse<%= key %>_lighting" aria-expanded="true" aria-controls="collapse<%= key %>_lighting">
                        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                        <%= location %>
                      </button>
                    </h5>
                  </div>
                  <div class="col-sm">
                    <div class="float-sm-right">
                      <button type="button" class="btn btn-outline-primary btn-sm"><%= t 'views.all_off' %></button>
                    </div>
                  </div>
                </div>
              </div>
              <div id="collapse<%= key %>_lighting" class="collapse" aria-labelledby="heading<%= key %>_lighting" data-parent="#accordion-lightings">
                <div class="d-flex align-content-start flex-wrap">
                  <% widgets[:buttons].each do |button| %>
                    <% if button.location == key %>
                      <div class="widget card bg-light col-lg-3 col-md-4 col-sm-6 col-xs-6">
                        <div class="card-body">
                          <div class="float-left">
                            <h5 class="mt-2"><%= button.desc %></h5>
                          </div>
                          <div class="float-right">
                            <%= form_for :widget, url: "/de/widgets/#{button.id}", remote: true, html: { id: "edit_widget_#{button.id}", class: "edit_widget" }, method: :patch do |f| %>
                              <%= f.hidden_field :authenticity_token, value: form_authenticity_token,
                                                 name: "authenticity_token" %>
                              <%= f.hidden_field :user, value: current_user.username, name: "user[username]" %>
                              <% if button.status == 0 %>
                                <%= f.check_box :status, data: { toggle: 'toggle', on: t('views.on'), off: t('views.off'), width: "63", height: "39"},
                                                id: "widget_active_#{button.id}", class: "edit_widget" %>
                              <% else %>
                                <%= f.check_box :status, data: { toggle: 'toggle', on: t('views.on'), off: t('views.off'), width: "63", height: "39"},
                                                id: "widget_active_#{button.id}", class: "edit_widget", checked: "checked" %>
                              <% end %>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-blinds" role="tabpanel" aria-labelledby="nav-blinds-tab">
      <div id="accordion-blinds" class="accordion">
        <% $locations.each do |key, location| %>
          <% if widgets[:progress_bars].any?{|progress_bar| progress_bar.location == key} %>
            <div>
              <div class="mb-2" id="heading<%= key %>_blind">
                <div class="row">
                  <div class="col">
                    <h5 class="mb-0">
                      <button class="btn btn-link pl-0" data-toggle="collapse" data-target="#collapse<%= key %>_blind" aria-expanded="true" aria-controls="collapse<%= key %>_blind">
                        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                        <%= location %>
                      </button>
                    </h5>
                  </div>
                  <div class="col-sm">
                    <div class="float-sm-right">
                      <button type="button" class="btn btn-outline-primary btn-sm"><%= t 'views.close_all' %></button>
                    </div>
                  </div>
                </div>
              </div>
              <div id="collapse<%= key %>_blind" class="collapse" aria-labelledby="heading<%= key %>_blind" data-parent="#accordion-blinds">
                <div class="d-flex align-content-start flex-wrap">
                  <% widgets[:progress_bars].each do |progress_bar| %>
                    <% if progress_bar.location == key %>
                      <div class="widget card bg-light col-lg-3 col-md-4 col-sm-6 col-xs-6">
                        <div class="card-body">
                          <h5 class="mt-2"><%= progress_bar.desc %></h5>
                          <%= form_for :widget, url: "/de/widgets/#{progress_bar.id}", remote: true, html: { id: "edit_widget_#{progress_bar.id}", class: "edit_widget" }, method: :patch do |f| %>
                            <%= f.hidden_field :authenticity_token, value: form_authenticity_token,
                                               name: "authenticity_token" %>
                            <%= f.hidden_field :user, value: current_user.username, name: "user[username]" %>
                            <div>
                              <div class="float-left">
                                <div class="btn-group h-35" role="group">
                                  <%= f.button class: "btn btn-grey", type: "submit", name: "progress_bar", value: "step_backward" do %>
                                    <span class="glyphicon glyphicon-step-backward" aria-hidden="true" id="<%= progress_bar.id %>"></span>
                                  <% end %>
                                  <%= f.button class: "btn btn-grey", type: "submit", name: "progress_bar", value: "backward" do %>
                                    <span class="glyphicon glyphicon-backward" aria-hidden="true" id="<%= progress_bar.id %>"></span>
                                  <% end %>
                                </div>
                              </div>
                              <div class="float-right">
                                <div class="btn-group h-35" role="group">
                                  <%= f.button class: "btn btn-grey", type: "submit", name: "progress_bar", value: "forward" do %>
                                    <span class="glyphicon glyphicon-forward" aria-hidden="true" id="<%= progress_bar.id %>"></span>
                                  <% end %>
                                  <%= f.button class: "btn btn-grey", type: "submit", name: "progress_bar", value: "step_forward" do %>
                                    <span class="glyphicon glyphicon-step-forward" aria-hidden="true" id="<%= progress_bar.id %>"></span>
                                  <% end %>
                                </div>
                              </div>
                            </div>
                          <% end %>
                          <br><br>
                          <div class="progress">
                            <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="<%= progress_bar.status[:position] %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= progress_bar.status[:position] %>%" id="progressbar-<%= progress_bar.id %>"></div>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-dimmer" role="tabpanel" aria-labelledby="nav-dimmer-tab">
      <div id="accordion-dimmers" class="accordion">
        <% $locations.each do |key, location| %>
          <% if widgets[:sliders].any?{|slider| slider.location == key} %>
            <div>
              <div class="mb-2" id="heading<%= key %>_dimmer">
                <div class="row">
                  <div class="col">
                    <h5 class="mb-0">
                      <button class="btn btn-link pl-0" data-toggle="collapse" data-target="#collapse<%= key %>_dimmer" aria-expanded="true" aria-controls="collapse<%= key %>_dimmer">
                        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                        <%= location %>
                      </button>
                    </h5>
                  </div>
                  <div class="col-sm">
                    <div class="float-sm-right">
                      <button type="button" class="btn btn-outline-primary btn-sm"><%= t 'views.all_off' %></button>
                    </div>
                  </div>
                </div>
              </div>
              <div id="collapse<%= key %>_dimmer" class="collapse" aria-labelledby="heading<%= key %>_dimmer" data-parent="#accordion-dimmers">
                <div class="d-flex align-content-start flex-wrap">
                  <% widgets[:sliders].each do |slider| %>
                    <% if slider.location == key %>
                      <div class="widget card bg-light col-lg-3 col-md-4 col-sm-6 col-xs-6">
                        <div class="card-body">
                          <h5 class="mt-2"><%= slider.desc %></h5>
                          <div class="">
                            <%= form_for :widget, url: "/de/widgets/#{slider.id}", remote: true,
                                         html: { id: "edit_widget_#{slider.id}",
                                         class: "edit_widget" }, method: :patch do |f| %>
                              <%= f.hidden_field :authenticity_token, value: form_authenticity_token,
                                                 name: "authenticity_token" %>
                              <%= f.hidden_field :user, value: current_user.username, name: "user[username]" %>
                              <div class="slider-wrapper-horizontal">
                                <%= f.range_field :status, id: "widget_active_#{slider.id}",
                                                  class: "custom-range", type: "range", min: 0,
                                                  max: 100, step: 1, value: slider.status %>
                              </div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-mc" role="tabpanel" aria-labelledby="nav-mc-tab">
      <div class="d-flex align-content-start flex-wrap">
      </div>
    </div>
    <div class="tab-pane fade" id="nav-windows" role="tabpanel" aria-labelledby="nav-windows-tab">
      <div id="accordion-windows" class="accordion">
        <% $locations.each_with_index do |(key, location), index| %>
          <%# if widgets.where(location: location, use: 'window').exists? %>
            <div>
              <div class="mb-2" id="heading<%= key %>_window">
                <div class="row">
                  <div class="col">
                    <h5 class="mb-0">
                      <button class="btn btn-link pl-0" data-toggle="collapse" data-target="#collapse<%= key %>_window" aria-expanded="true" aria-controls="collapse<%= key %>_window">
                        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                        <%= location %>
                      </button>
                    </h5>
                  </div>
                </div>
              </div>
              <div id="collapse<%= key %>_window" class="collapse <% if index == 0 %>show<% end %>" aria-labelledby="heading<%= key %>_window" data-parent="#accordion-windows">
                <div class="d-flex align-content-start flex-wrap">
                </div>
              </div>
            </div>
          <%# end %>
        <% end %>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-weather" role="tabpanel" aria-labelledby="nav-weather-tab">
      <div class="d-flex align-content-start flex-wrap">
      </div>
    </div>
  </div>
</div>