<% @widgets.each do |widget| %>
  <tr>
    <td><%= widget.id %></td>
    <td><%= widget.name %></td>
    <td><%= widget.active %></td>
    <td><%= widget.knx_module_id %></td>
    <td><%= widget.room_id %></td>
    <% if can? :read, widget %>
      <td><%= link_to 'Show', widget %></td>
    <% end %>
  </tr>
<% end %>