<div class="row">
  <div class="col">
    <h1>Widgets</h1>
  </div>
  <!--
  <% if current_user.has_role? :admin %>
    <div class="col">
      <%= link_to 'New Widget', new_widget_path, class: "btn btn-info right top10" %>
    </div>
  <% end %>
  -->
</div>

<div class="row">
  <div class="col">
    <hr>
  </div>
</div>

<div class="row">
  <div class="col">
    Sort by:
    <div class="btn-group btn-group-toggle">
      <label class="btn btn-outline-secondary">
        <input type="radio" name="options" id="option1" autocomplete="off"> Gruppenadresse
      </label>
      <label class="btn btn-outline-secondary active">
        <input type="radio" name="options" id="option2" autocomplete="off"> Etage
      </label>
      <label class="btn btn-outline-secondary">
        <input type="radio" name="options" id="option3" autocomplete="off"> Zimmer
      </label>
      <label class="btn btn-outline-secondary">
        <input type="radio" name="options" id="option4" autocomplete="off"> A-Z
      </label>
      <label class="btn btn-outline-secondary">
        <input type="radio" name="options" id="option5" autocomplete="off"> Z-A
      </label>
    </div>
  </div>

  <div class="col">
    <%= form_tag widgets_path, class: "form-inline my-2 my-lg-0 right", method: :get do %>
      <%= text_field_tag :term, params[:term], class: "form-control mr-sm-2" %>
      <%= submit_tag 'Suchen', name: nil, class: "btn btn-outline-success my-2 my-sm-0" %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
  </div>
</div>

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-lightings-tab" data-toggle="tab" href="#nav-lightings" role="tab" aria-controls="nav-home" aria-selected="true">Lightings</a>
    <a class="nav-item nav-link" id="nav-shutters-tab" data-toggle="tab" href="#nav-shutters" role="tab" aria-controls="nav-profile" aria-selected="false">Shutters</a>
    <a class="nav-item nav-link" id="nav-blinds-tab" data-toggle="tab" href="#nav-blinds" role="tab" aria-controls="nav-contact" aria-selected="false">Blinds</a>
    <a class="nav-item nav-link" id="nav-dimmer-tab" data-toggle="tab" href="#nav-dimmer" role="tab" aria-controls="nav-contact" aria-selected="false">Dimmer</a>
    <a class="nav-item nav-link" id="nav-mc-tab" data-toggle="tab" href="#nav-mc" role="tab" aria-controls="nav-contact" aria-selected="false">Monitoring-Control</a>
    <a class="nav-item nav-link" id="nav-windows-tab" data-toggle="tab" href="#nav-windows" role="tab" aria-controls="nav-contact" aria-selected="false">Windows</a>
    <a class="nav-item nav-link" id="nav-weather-tab" data-toggle="tab" href="#nav-weather" role="tab" aria-controls="nav-contact" aria-selected="false">Weather</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-lightings" role="tabpanel" aria-labelledby="nav-lightings-tab">
    <div class="row" style="padding-left: 5px;padding-right: 15px;">
      <% @widgets.each do |widget| %>
        <% if widget.use == "lighting" %>
          <div class="widget card bg-light col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <div class="card-body">
              <div class="left">
                <h5 style="margin-top: 6px;"><%= widget.name %></h5>
              </div>
              <div class="right">
                <%= form_for widget, remote: true, html: {format: "js"} do |f| %>
                  <%= f.hidden_field :authenticity_token, value: form_authenticity_token,
                                     name: "authenticity_token" %>
                  <%= f.hidden_field :user, value: current_user.username, name: "user[username]" %>
                  <%= f.check_box :value, data: { toggle: 'toggle' },
                                  id: "widget_active_#{widget.id}", class: "edit_widget" %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="tab-pane fade" id="nav-shutters" role="tabpanel" aria-labelledby="nav-shutters-tab">
    <div class="row" style="padding-left: 5px;padding-right: 15px;">
      <% @widgets.each do |widget| %>
        <% if widget.use == "shutter" %>
          <div class="widget card bg-light col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <div class="card-body">
              <div>
                <h5 style="margin-top: 6px;"><%= widget.name %></h5>
              </div>
              <div>
                <div class="left">
                  <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
                </div>
                <div class="right">
                  <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
                </div>
              </div>
              <br><br>
              <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="<%= widget.value %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= widget.value.to_i %>%"></div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="tab-pane fade" id="nav-blinds" role="tabpanel" aria-labelledby="nav-blinds-tab">
    <% @widgets.each_with_index do |widget, count| %>
      <% if count % 6 == 0 %>
        <div class="row" style="padding-left: 5px;padding-right: 15px;">
      <% end %>
        <% if widget.use == "blind" %>
          <div class="widget card bg-light col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <div class="card-body">
              <div>
                <h5 style="margin-top: 6px;"><%= widget.name %></h5>
              </div>
              <div>
                <div class="left">
                  <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
                </div>
                <div class="right">
                  <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
                </div>
              </div>
              <br><br>
              <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="<%= widget.value %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= widget.value.to_i %>%"></div>
              </div>
            </div>
          </div>
        <% end %>
      <% if count % 6 == 0 %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="tab-pane fade" id="nav-dimmer" role="tabpanel" aria-labelledby="nav-dimmer-tab">
    <div class="row" style="padding-left: 5px;padding-right: 15px;">
      <% @widgets.each do |widget| %>
        <% if widget.use == "dimmer" %>
          <div class="widget card bg-light col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <h5 class="card-header"><%= widget.id %> - <%= widget.name %></h5>
            <div class="card-body">
              <div class="left">
                <%= Room.find_by(id: widget.room_id).name %>
              </div>
              <div class="right">
                <%= form_for widget, remote: true do |f| %>
                  <%= f.hidden_field :authenticity_token, value: form_authenticity_token,
                                     name: "authenticity_token" %>
                  <%= f.hidden_field :user, value: current_user.username, name: "user[username]" %>
                  <div class="slider-wrapper-horizontal">
                    <%= f.range_field :value, id: "widget_active_#{widget.id}", class: "", type: "range", min: 0, max: 100, step: 1, value: widget.value %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="tab-pane fade" id="nav-mc" role="tabpanel" aria-labelledby="nav-mc-tab">
    <div class="row" style="padding-left: 5px;padding-right: 15px;">
      <% @widgets.each do |widget| %>
        <% if widget.use == "mc" %>
          <div class="widget card bg-light col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <h5 class="card-header"><%= widget.id %> - <%= widget.name %></h5>
            <div class="card-body">
              <div class="left">
                <%= Room.find_by(id: widget.room_id).name %>
              </div>
              <div class="right">
                <%= form_for widget, remote: true do |f| %>
                  <%= f.hidden_field :authenticity_token, value: form_authenticity_token,
                                     name: "authenticity_token" %>
                  <%= f.hidden_field :user, value: current_user.username, name: "user[username]" %>
                  <%= widget.value %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="tab-pane fade" id="nav-mc" role="tabpanel" aria-labelledby="nav-mc-tab">Monitoring-Control</div>
  <div class="tab-pane fade" id="nav-windows" role="tabpanel" aria-labelledby="nav-windows-tab">
    <div class="row" style="padding-left: 5px;padding-right: 15px;">
      <% @widgets.each do |widget| %>
        <% if widget.use == "window" %>
          <div class="widget card bg-light col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <h5 class="card-header"><%= widget.id %> - <%= widget.name %></h5>
            <div class="card-body">
              <div class="left">
                <%= Room.find_by(id: widget.room_id).name %>
              </div>
              <div class="right">
                <% if widget.value == 0 %>
                  <div style="background-color: red;padding: 5px;border-radius: 8px;color: white;">Open</div>
                <% else %>
                  <div style="background-color: green;padding: 5px;border-radius: 8px;color: white;">Close</div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="tab-pane fade" id="nav-weather" role="tabpanel" aria-labelledby="nav-weather-tab">
    <div class="row" style="padding-left: 5px;padding-right: 15px;">
      <% @widgets.each do |widget| %>
        <% if widget.use == "weather" %>
          <div class="widget card bg-light col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <h5 class="card-header"><%= widget.id %> - <%= widget.name %></h5>
            <div class="card-body">
              <div class="left">
                <%= Room.find_by(id: widget.room_id).name %>
              </div>
              <div class="right">
                <%= widget.value %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<br>
<!--
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Active</th>
      <th>Knx module</th>
      <th>Room</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody id="actionWidget">
    <% @widgets.each do |widget| %>
      <tr>
        <td><%= widget.id %></td>
        <td><%= widget.name %></td>
        <td><%= widget.active %></td>
        <td><%= widget.knx_module_id %></td>
        <td><%= widget.room_id %></td>
        <% if can? :read, widget %>
          <td><%= link_to 'Show', widget %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
-->