<div class="row">
  <div class="col">
    <h1>Widgets</h1>
  </div>
  <% if current_user.has_role? :admin %>
    <div class="col">
      <%= link_to 'New Widget', new_widget_path, class: "btn btn-info right top10" %>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col">
    <hr>
  </div>
</div>

<div class="row">
  <div class="col">
    Sort after:
    <div class="btn-group btn-group-toggle">
      <label class="btn btn-outline-secondary">
        <input type="radio" name="options" id="option1" autocomplete="off"> Gruppenadresse
      </label>
      <label class="btn btn-outline-secondary active">
        <input type="radio" name="options" id="option2" autocomplete="off"> Etage
      </label>
      <label class="btn btn-outline-secondary">
        <input type="radio" name="options" id="option3" autocomplete="off"> Zimmer
      </label>
      <label class="btn btn-outline-secondary">
        <input type="radio" name="options" id="option4" autocomplete="off"> A-Z
      </label>
      <label class="btn btn-outline-secondary">
        <input type="radio" name="options" id="option5" autocomplete="off"> Z-A
      </label>
    </div>
  </div>

  <div class="col">
    <%= form_tag widgets_path, class: "form-inline my-2 my-lg-0", style: "float:right;", method: :get do %>
      <%= text_field_tag :term, params[:term], class: "form-control mr-sm-2" %>
      <%= submit_tag 'Suchen', name: nil, class: "btn btn-outline-success my-2 my-sm-0" %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
  </div>
</div>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">Lightings</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Shutters</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Blinds</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Dimmer</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Monitoring-Control</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Windows</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Weather</a>
  </li>
</ul>

<br>

<div class="row" style="padding-left: 5px;padding-right: 15px;">
  <% @widgets.each do |widget| %>
    <div class="widget card bg-light col-lg-3 col-md-4 col-sm-6 col-xs-6" style="max-width: 18rem;">
      <h5 class="card-header"><%= widget.id %> - <%= widget.name %></h5>
      <div class="card-body">
        <div style="float: left;">
          <%= Room.find_by(id: widget.room_id).name %>
        </div>
        <div style="float: right;">
          <%= form_for widget, remote: true do |f| %>
            <%= f.check_box :active, value: false, data: { toggle: 'toggle' },
                            id: "widget_active_#{widget.id}", class: "edit_widget" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<br>
<!--
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Active</th>
      <th>Knx module</th>
      <th>Room</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody id="actionWidget">
    <% @widgets.each do |widget| %>
      <tr>
        <td><%= widget.id %></td>
        <td><%= widget.name %></td>
        <td><%= widget.active %></td>
        <td><%= widget.knx_module_id %></td>
        <td><%= widget.room_id %></td>
        <% if can? :read, widget %>
          <td><%= link_to 'Show', widget %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
-->