<div class="card mb-2">
  <div class="card-header">
    <div class="row">
      <div class="col-sm">
        <h1><%= t 'views.widgets' %></h1>
      </div>
    </div>
  </div>

  <div>
    <nav class="navbar navbar-light bg-light justify-content-between">
      <div class="col-md-2">
        <%= t 'views.sortby' %>:
      </div>
      <div class="col-md-4">
        <div class="navbar-brand">
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <%= link_to sort_by_org_units_widgets_path, remote: true do %>
              <label class="btn btn-outline-secondary btn-right-radius mb-0">
                <input type="radio" name="options" id="option1" autocomplete="off">Org-Unit
              </label>
            <% end %>
            <%= link_to sort_by_locations_widgets_path, remote: true do %>
              <label class="btn btn-outline-secondary btn-left-radius btn-right-radius mb-0 active">
                <input type="radio" name="options" id="option2" autocomplete="off" checked><%= t 'views.location' %>
              </label>
            <% end %>
            <%= link_to sort_alphabetically_widgets_path, remote: true do %>
              <label class="btn btn-outline-secondary btn-left-radius btn-right-radius mb-0">
                <input type="radio" name="options" id="option3" autocomplete="off">A-Z
              </label>
            <% end %>
            <%= link_to sort_backwards_alphabetically_widgets_path, remote: true do %>
              <label class="btn btn-outline-secondary btn-left-radius mb-0">
                <input type="radio" name="options" id="option4" autocomplete="off">Z-A
              </label>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="float-md-right">
          <%= form_tag widgets_path, class: "form-inline my-2 my-lg-0", method: :get, remote: true do %>
            <%= text_field_tag :term, params[:term], class: "form-control", style: "width: 70%;" %>
            <%= submit_tag t('views.search'), name: nil, class: "btn btn-outline-success my-2 my-sm-0", style: "width: 28%;margin-left: 2%;" %>
          <% end %>
        </div>
      </div>
    </nav>
  </div>
</div>

<div class="card mb-2" id="widgets_card">
  <%= render partial: 'sort_by_locations', locals: {widgets: @widgets} %>
</div>
