<h1>Widgets</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Active</th>
      <th>Knx module</th>
      <th>Room</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody id="actionWidget">
    <% @widgets.each do |widget| %>
      <tr>
        <td><%= widget.id %></td>
        <td><%= widget.name %></td>
        <td><%= widget.active %></td>
        <td><%= widget.knx_module_id %></td>
        <td><%= widget.room_id %></td>
        <% if can? :read, widget %>
          <td><%= link_to 'Show', widget %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :create, @widgets %>
  <%= link_to 'New Widget', new_widget_path %>
<% end %>
