<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @widget.name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @widget.active %>
</p>

<p>
  <strong>Knx module:</strong>
  <%= @widget.knx_module_id %>
</p>

<p>
  <strong>Room:</strong>
  <%= @widget.room_id %>
</p>

<% if can? :update, @widget %>
  <%= link_to 'Edit', edit_widget_path(@widget) %> |
<% end %>
<%= link_to 'Back', widgets_path %>
