<p>
  <strong>Name:</strong>
  <%= @widget.name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @widget.active %>
</p>

<p>
  <strong>Use:</strong>
  <%= @widget.use %>
</p>

<p>
  <strong>Value:</strong>
  <%= @widget.value %>
</p>

<% if can? :update, @widget %>
  <%= link_to 'Edit', edit_widget_path(@widget) %> |
<% end %>
<% if can? :destroy, @widget %>
  <%= link_to 'Destroy', @widget, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', widgets_path %>
