<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Widgets:</strong><br/>
  <% @room.widgets.each do |widget| %>
    ID: <%= widget.id %><br/>
    Name: <%= widget.name %><br/>
    Active: <%= widget.active %><br/>
    KNX Module ID: <%= widget.knx_module_id %><br/>
  <% end %>
</p>

<% if can? :update, @room %>
  <%= link_to 'Edit', edit_room_path(@room) %> |
<% end %>
<%= link_to 'Back', rooms_path %>
