<%= link_to 'Administrates' , administrates_path %>
|
<%= link_to 'Rooms' , rooms_path %>
|
<%= link_to 'Widgets' , widgets_path %>
|
<%= link_to 'Rules' , rules_path %>
|
<%= link_to 'KNXModules' , knx_modules_path %>
<br/>
<p id="notice"><%= notice %></p>

<h1>Administrates</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>User</th>
      <th>Room</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @administrates.each do |administrate| %>
      <tr>
        <td><%= administrate.id %></td>
        <td><%= administrate.user_id %></td>
        <td><%= administrate.room_id %></td>
        <% if can? :read, administrate %>
          <td><%= link_to 'Show', administrate %></td>
        <% end %>
        <% if can? :update, administrate %>
          <td><%= link_to 'Edit', edit_administrate_path(administrate) %></td>
        <% end %>
        <% if can? :destroy, administrate %>
          <td><%= link_to 'Destroy', administrate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :create, @administrates %>
  <%= link_to 'New Administrate', new_administrate_path %>
<% end %>