<h1>Rules</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Status</th>
      <th>Start value</th>
      <th>End value</th>
      <th>Steps</th>
      <th>Widget</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rules.each do |rule| %>
      <tr>
        <td><%= rule.id %></td>
        <td><%= rule.name %></td>
        <td><%= rule.status %></td>
        <td><%= rule.start_value %></td>
        <td><%= rule.end_value %></td>
        <td><%= rule.steps %></td>
        <td><%= rule.widget_id %></td>
        <% if can? :read, rule %>
          <td><%= link_to 'Show', rule %></td>
        <% end %>
        <% if can? :update, rule %>
          <td><%= link_to 'Edit', edit_rule_path(rule) %></td>
        <% end %>
        <% if can? :destroy, rule %>
          <td><%= link_to 'Destroy', rule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :create, @rules %>
  <%= link_to 'New Rule', new_rule_path %>
<% end %>
