<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @rule.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @rule.status %>
</p>

<p>
  <strong>Start value:</strong>
  <%= @rule.start_value %>
</p>

<p>
  <strong>End value:</strong>
  <%= @rule.end_value %>
</p>

<p>
  <strong>Steps:</strong>
  <%= @rule.steps %>
</p>

<p>
  <strong>Widget:</strong>
  <%= @rule.widget_id %>
</p>

<%= link_to 'Edit', edit_rule_path(@rule) %> |
<%= link_to 'Back', rules_path %>
