<!DOCTYPE html>
<html>
  <head>
    <title>KnxAdministration</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row mt-3">
        <div class="col">
          <% if defined? @user %>
            <% if  @user.errors.any? %>
              <div class="alert alert-danger alert-dismissible fade show mb-2">
                <a href="#" data-dismiss="alert" class="close">×</a>
                <strong>
                  <%= pluralize(@user.errors.count, t('error.single'), t('error.several')) %><%= t('error.fixed') %>
                </strong>
                <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </div>
            <% end %>
          <% end %>
          <% if notice %>
            <div class="alert alert-success fade show">
              <a href="#" data-dismiss="alert" class="close">×</a>
              <% if notice == "Signed in successfully." || "Erfolgreich angemeldet." %>
                <%= t('devise.sessions.signed_in') %>
              <% else %>
                <%= notice %>
              <% end %>
            </div>
          <% end %>
          <% if alert %>
            <div class="alert alert-danger alert-dismissible fade show mb-2">
              <a href="#" data-dismiss="alert" class="close">×</a>
              <%= alert %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="card mt-0 mb-2">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
          <%= link_to widgets_path, class: 'navbar-brand' do %>
            <%= image_tag "KNX-Logo.png", style: "width:120px" %>
          <% end %>
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                  data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
                  aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li><h3>Home-Automation</h3></li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <% if user_signed_in? %>
                  <li class="nav-item">
                    <%= link_to widgets_path, class: 'nav-link' do %>
                      <span class="glyphicon glyphicon-home" aria-hidden="true"></span><%= t 'views.home' %>
                    <% end %>
                  </li>
                  <% if current_user.has_role? :admin %>
                    <li class="nav-item">
                      <%= link_to users_url, class: 'nav-link' do %>
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span><%= t 'views.user' %>
                      <% end %>
                    </li>
                  <% end %>
                  <li class="nav-item">
                    <%= link_to edit_user_registration_path, class: 'nav-link' do %>
                      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span><%= t 'views.settings' %>
                    <% end %>
                  </li>
                  <li class="nav-item">
                    <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link' do %>
                      <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span><%= t 'views.to_logout' %>
                    <% end %>
                  </li>
                <% else %>
                  <li class="nav-item">
                    <%= link_to new_user_session_path, class: 'nav-link' do %>
                      <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span><%= t 'views.to_login' %>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </form>
          </div>
        </nav>
      </div>

      <%= yield %>

      <% if user_signed_in? %>
        <div class="card mb-3">
          <div class="card-header">
            <div class="row">
            <div class="col-sm">
              <%= t 'views.logged_in_as' %>
              <div class="font-weight-bold d-inline-block">
                <%= current_user.username %>
              </div>
            </div>
            <div class="col-sm">
              <div class="float-sm-right">
                <%= t 'views.role' %>:
                <div class="font-weight-bold d-inline-block">
                  <%=current_user.roles.pluck(:name).join(", ")%>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </body>
</html>
