<!DOCTYPE html>
<html>
  <head>
    <title>KnxAdministration</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

    <p class="navbar-text pull-right">
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        Role: <strong><%=current_user.roles.pluck(:name).join(", ")%></strong>
        <br/><br/>
        <% if current_user.has_role? :admin %>
          <%= link_to 'Administrates' , administrates_path %> |
        <% end %>
        <%= link_to 'Rooms' , rooms_path %> |
        <%= link_to 'Widgets' , widgets_path %> |
        <%= link_to 'Rules' , rules_path %> |
        <% if current_user.has_role? :admin %>
          <%= link_to 'KNXModules' , knx_modules_path %> |
          <%= link_to 'Role Management', users_url %> |
        <% end %>
        <%= link_to 'Settings', edit_user_registration_path %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
      <% end %>
    </p>

  <%= yield %>
  </body>
</html>
